@import "./header";

//variables
//name:value
$bg-color:#333;
$title-size:40px;
$font-color: #000;

h1{
    color: red;
    font-size: 20px;
}

.card{

    h2{
        font-size: $title-size;
    }

    p{
        color: $font-color;
    }
}

